.modal-wrapper {
	margin-left: 20px;
}

.navbar {
	height:50px;
}

/*#headerwrap {
	width:100%;
	margin:0;
	padding:0;
	margin-bottom: -100px;
}*/

.wrap {
	/*margin-top: -10px;*/
	background-color: #3498db;
	min-height: 100vh;
}

.logo {
	height:60px;
	width:60px;
}

.logo_div {
	margin-top: -20px;
}

.no-padding {
    padding: 0;
}


#owl-demo .item{
  /*margin: 10px;*/
}

#owl-demo .item img{
	margin-top: 40px;
  	display: block;
  	width: 235px;
  	height: 350px;
}

.center-page {
    margin: auto;
}

.form-group {
	margin-bottom: 0px;
}

.form-format {
	float:left;
	width: 50%;
}

.form-control {
	border-radius:0px;
}

.checkbox-container {
	background-color:white;
	background: #eeeeee;
	border-top-right-radius:4px;
	border-bottom-right-radius:4px;
	height:42px;
}

.results {
	height: 100vh;
	background-color:white;
}

.thumb{
	width:270px;
	height:367px;
	margin-bottom: 10px;
}

.thumbnail {
	height:367px;
	width:100%;
}

.text, .text-js {
    display: none;
    position: absolute;
    bottom: 0;
    margin-left: -4px;
    width: 238px;
    background: #999;
    background: rgba(0,0,0,0.8);
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color:#3498db;
}

.thumb:hover .text {
    display: block
}


.switch-box {
	text-align: left;
	vertical-align: middle;
	width: 50%;
	float:left;
    padding: 5px 5px 5px 13px;
    font-size:14px;   
    font-weight: normal;
    color: #555555; 
    /*margin-right: 10px;   */
}

.bootstrap-switch {
	margin-left: 10px;
	margin-top: -2px;
}

#critic {
	border-right: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
}

#critic span {
	padding-right: 11px;
}

#query-label {
	padding-right: 31px;
}

#query {
	box-shadow: none;
	-webkit-box-shadow: none;
	border-right: 0;
}

#reviewer_name {
	box-shadow: none;
	-webkit-box-shadow: none;
	border-right: 0;
	border-top: 0;
}

#reviewer-label {
	border-top: 0;
}

.calendar div {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

#switch-boxes {
	border-bottom: 1px solid #cccccc;
}

.modal-body img {
	padding-right: 20px;
}
