.modal-wrapper {
	margin-left: 20px;
}


#headerwrap {
	height:100vh;
}

.logo {
	height:60px;
	width:60px;
}

.no-padding {
    padding: 0;
}

.form-group {
	margin-bottom: 0px;
}

.query-search {
	float:left;
	width: 50%
}

.calendar{
	float:left;
	width:50%;
}